## Handling missing data and imputation techniques

### Exercise 1: Handling Missing Data - Dropping Rows

You are working on a machine learning project where you have collected data about customers, including their age, income, and purchase behavior. However, some rows have missing values for the purchase behavior column. Your task is to handle the missing data by dropping the rows with missing purchase behavior values.

In [1]:
import pandas as pd

# Define the DataFrame
df = pd.DataFrame({
    'Age': [32, 28, 45, 35],
    'Income': [50000, 60000, 75000, 80000],
    'Purchase': [1, None, 0, None]
})

# TODO: Drop rows with missing purchase feature values. Use the dropna() method
df.dropna(subset=['Purchase'], inplace=True)

# Display the updated DataFrame
print(df)

# What are the advantages and limitations of such approach?

# Advantages of dropping rows with missing values:
# # Ensures data quality and reliability.
# # Provides a straightforward and effective solution.

# Limitations of dropping rows with missing values:
# # Results in data loss and reduced sample size.
# # Can introduce bias if missing values are related to certain patterns or variables.

   Age  Income  Purchase
0   32   50000       1.0
2   45   75000       0.0

### Exercise 2: Handling Missing Data - Imputing with Mean Value

You are analyzing a dataset of student performance in various subjects. However, some scores are missing, represented as `NaN`. Your task is to handle the missing data by imputing the missing scores with the mean score of the available scores for each subject.

In [2]:
import pandas as pd
import numpy as np

# Define the DataFrame
df = pd.DataFrame({
    'Subject': ['Math', 'Science', 'English', 'Math', 'History']*6,
    'Score': [80, 90, np.nan, 70, np.nan, 95]*5
})

# TODO: Calculate the mean score for each subject
mean_scores = df.groupby('Subject')['Score'].mean()

# TODO: Impute missing scores with the mean score for each subject. Use the transform() method and a lambda expression
df['Score'] = df.groupby('Subject')['Score'].transform(lambda x: x.fillna(x.mean()))

# Display the updated DataFrame
print(df)

# What are the advantages and limitations of such approach?

# Advantages of imputing missing values with mean values:
# # Retains data when missing values are few.
# # Maintains distribution and statistical properties.
# # Provides reasonable estimates in random cases.

# Limitations of imputing missing values with mean values:
# # Assumes missing values are MCAR/MAR, introducing bias.
# # Underestimates variability by assigning the same value.
# # Artificially inflates sample size with many missing values.

    Subject  Score
0      Math  80.00
1   Science  90.00
2   English  83.75
3      Math  70.00
4   History  83.75
5      Math  95.00
6   Science  80.00
7   English  90.00
8      Math  83.75
9   History  70.00
10     Math  83.75
11  Science  95.00
12  English  80.00
13     Math  90.00
14  History  83.75
15     Math  70.00
16  Science  83.75
17  English  95.00
18     Math  80.00
19  History  90.00
20     Math  83.75
21  Science  70.00
22  English  83.75
23     Math  95.00
24  History  80.00
25     Math  90.00
26  Science  83.75
27  English  70.00
28     Math  83.75
29  History  95.00

## Merging DataFrames

### Exercise 3: Merging options

In this exercise, you will work with two DataFrames containing information about authors and their citation counts. Your task is to merge the DataFrames based on the "Author" column and explore different merge types (left, right, inner, and outer) to understand the relationship between authors and their citation counts.

In [3]:
# Define the first DataFrame with paper titles and authors' names
df1 = pd.DataFrame({
    'Paper Title': ['AI in Healthcare', 'Machine Learning Algorithms', 'Natural Language Processing'],
    'Author': ['Youssef Saeed', 'Fatima Ali', 'Ahmed Hassan']
})

# Define the second DataFrame with paper titles and citation counts
df2 = pd.DataFrame({
    'Paper Title': ['AI in Healthcare', 'Machine Learning Algorithms', 'Deep Learning for Image Recognition'],
    'Citations': [50, 100, 75]
})

# TODO: Perform left merge. Use merge() method
left_merge = pd.merge(df1, df2, on='Paper Title', how='left')

# Print result
print("\nLeft Merge:")
print(left_merge)

# TODO: Perform right merge. Use merge() method
right_merge = pd.merge(df1, df2, on='Paper Title', how='right')

# Print result
print("\nRight Merge:")
print(right_merge)

# TODO: Perform inner merge. Use merge() method
inner_merge = pd.merge(df1, df2, on='Paper Title', how='inner')

# Print result
print("\nInner Merge:")
print(inner_merge)

# TODO: Perform outer merge. Use merge() method
outer_merge = pd.merge(df1, df2, on='Paper Title', how='outer')

# Print result
print("\nOuter Merge:")
print(outer_merge)

Left Merge:
                   Paper Title         Author  Citations
0             AI in Healthcare  Youssef Saeed       50.0
1  Machine Learning Algorithms     Fatima Ali      100.0
2  Natural Language Processing   Ahmed Hassan        NaN

Right Merge:
                           Paper Title         Author  Citations
0                     AI in Healthcare  Youssef Saeed         50
1          Machine Learning Algorithms     Fatima Ali        100
2  Deep Learning for Image Recognition            NaN         75

Inner Merge:
                   Paper Title         Author  Citations
0             AI in Healthcare  Youssef Saeed         50
1  Machine Learning Algorithms     Fatima Ali        100

Outer Merge:
                           Paper Title         Author  Citations
0                     AI in Healthcare  Youssef Saeed       50.0
1          Machine Learning Algorithms     Fatima Ali      100.0
2          Natural Language Processing   Ahmed Hassan        NaN
3  Deep Learning for Image Recognition            NaN       75.0

## Concatenating DataFrames

### Exercise 4: Concatenate DataFrames horizontally and vertically

You have two DataFrames containing information about authors and their publications in the field of artificial intelligence. Your task is to concatenate these DataFrames horizontally and vertically to combine the data. Display the concatenated DataFrame.

In [4]:
import pandas as pd

# Define AI-papers data
df_papers_1 = pd.DataFrame({
    'Author': ['Saud Al-Mutairi', 'Aisha Al-Harbi', 'Fahad Al-Dosari'],
    'Publication': ['AI Review', 'AI Journal', 'AI Insights']
})

# Define additional AI-papers data
df_papers_2 = pd.DataFrame({
    'Author': ['Nora Al-Subai', 'Abdulaziz Al-Sulaiman', 'Hala Al-Mutlaq'],
    'Publication': ['AI Trends', 'AI Today', 'AI Innovations']
})

# TODO: Concatenate horizontally. Use concat() method
horizontal_concat = pd.concat([df_papers_1, df_papers_2], axis=1)

# TODO: Concatenate vertically. Use concat() method
vertical_concat = pd.concat([df_papers_1, df_papers_2], axis=0)

# TODO: Display the concatenated DataFrames
print("Horizontally Concatenated DataFrame:")
print(horizontal_concat)

print("\nVertically Concatenated DataFrame:")
print(vertical_concat)

Horizontally Concatenated DataFrame:
            Author  Publication                 Author     Publication
0  Saud Al-Mutairi    AI Review          Nora Al-Subai       AI Trends
1   Aisha Al-Harbi   AI Journal  Abdulaziz Al-Sulaiman        AI Today
2  Fahad Al-Dosari  AI Insights         Hala Al-Mutlaq  AI Innovations

Vertically Concatenated DataFrame:
                  Author     Publication
0        Saud Al-Mutairi       AI Review
1         Aisha Al-Harbi      AI Journal
2        Fahad Al-Dosari     AI Insights
0          Nora Al-Subai       AI Trends
1  Abdulaziz Al-Sulaiman        AI Today
2         Hala Al-Mutlaq  AI Innovations

## Reshaping and Transforming Data

### Exercise 5: More practice with Pandas

You are given a DataFrame containing sales data for an AI company. The DataFrame has the following columns: "Month", "Product", "Region", "Revenue".

Your task is to perform the following operations:

- Pivot the DataFrame to transform it into a wide format, where each unique product becomes a separate column, and the revenue values are filled in the corresponding cells.
- Group the data by region and calculate the total revenue for each region.
- Normalize the revenue values by dividing them by the maximum revenue in each region.
- Create a new column called "Quarter" by extracting the quarter information from the "Month" column.
- Sort the DataFrame by region in ascending order and then by quarter in descending order.

In [5]:
df = pd.DataFrame({
    "Month": ["Jan", "Jan", "Jun", "Jun", "Nov", "Dec"],
    "Product": ["Product A", "Product B", "Product A", "Product B", "Product A", "Product B"],
    "Region": ["North", "South", "North", "South", "North", "South"],
    "Revenue": [1000, 1500, 1200, 1800, 900, 1350]
})

# TODO: Pivot the DataFrame to transform it into a wide format. Use index="Region", columns="Month", and values="Revenue"
pivot_df = df.pivot(index="Region", columns="Month", values="Revenue")

# TODO: Group the data by region and calculate the total revenue
grouped_df = df.groupby("Region")["Revenue"].sum()

# TODO: Normalize the revenue values
normalized_df = df.copy()
normalized_df["Revenue"] = (normalized_df["Revenue"] - normalized_df["Revenue"].mean()) / normalized_df["Revenue"].std()

# TODO: Extract the quarter information from the "Month" column
df["Quarter"] = pd.to_datetime(df["Month"], format="%b").dt.quarter

# TODO: Sort the DataFrame by region and quarter
sorted_df = df.sort_values(by=["Region", "Quarter"])

# Print the results and observe the differences
print("Pivoted DataFrame:")
print(pivot_df)

print("\nGrouped DataFrame:")
print(grouped_df)

print("\nNormalized DataFrame:")
print(normalized_df)

print("\nDataFrame with Quarter:")
print(df)

print("\nSorted DataFrame:")
print(sorted_df)

Pivoted DataFrame:
Month      Dec     Jan     Jun    Nov
Region
North      NaN  1000.0  1200.0  900.0
South   1350.0  1500.0  1800.0    NaN

Grouped DataFrame:
Region
North    3100
South    4650
Name: Revenue, dtype: int64

Normalized DataFrame:
  Month    Product Region   Revenue
0   Jan  Product A  North -0.877747
1   Jan  Product B  South  0.626962
2   Jun  Product A  North -0.275863
3   Jun  Product B  South  1.529788
4   Nov  Product A  North -1.178689
5   Dec  Product B  South  0.175549

DataFrame with Quarter:
  Month    Product Region  Revenue  Quarter
0   Jan  Product A  North     1000        1
1   Jan  Product B  South     1500        1
2   Jun  Product A  North     1200        2
3   Jun  Product B  South     1800        2
4   Nov  Product A  North      900        4
5   Dec  Product B  South     1350        4

Sorted DataFrame:
  Month    Product Region  Revenue  Quarter
0   Jan  Product A  North     1000        1
2   Jun  Product A  North     1200        2
4   Nov  Product A  North      900        4
1   Jan  Product B  South     1500        1
3   Jun  Product B  South     1800        2
5   Dec  Product B  South     1350        4